################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/RecipeManager/v16
/RecipeManager/bin/Debug/lib
